<h2>Добавь цвета в свой проект!</h2>
 
<p>Ты можешь работать с примером ниже или загрузить свой предыдущий проект с помощью пункта "Мой последний проект" ниже.</p>

<p>Ты можешь потратить на задание сколько угодно времени, но мы рекомендуем уложиться в 10 минут.</p>

<p><b>Шпаргалка</b><br/>
Задать цвет фона: <code>background(r,g,b);</code><br/>
Задать цвет обводки: <code>stroke(r,g,b);</code><br/>
Задать цвет заливки: <code>fill(r,g,b);</code><br/>
<br/>
Не забудь вызвать функции <code>stroke()</code> и <code>fill()</code> <strong>прежде</strong> чем рисовать фигуры!<br/>
<br/>
<code>r</code> — величина красной компоненты, от 0 (нет) до 255 (максимум)<br/>
<code>g</code> — величина зеленой компоненты, от 0 (нет) до 255 (максимум)<br/>
<code>b</code> — величина синей компоненты, от 0 (нет) до 255 (максимум)<br/>
</p>

<p>Чтобы узнать больше смотри описание функций <a href="http://processing.org/reference/background_.html" target="_blank">background</a>, <a href="http://processing.org/reference/stroke_.html" target="_blank">stroke</a> и <a href="http://processing.org/reference/stroke_.html" target="_blank">fill</a> на сайте processing.org.</p>