<h2>Используй нажатие кнопки мыши для изменения действий программы!</h2>

<p>Ты можешь работать с примером ниже или загрузить свой предыдущий проект с помощью пункта "Мой последний проект" ниже.</p>

<p>Ты можешь потратить на задание сколько угодно времени, но мы рекомендуем уложиться в 10 минут.</p>

<p>Ниже пример того как можно менять цвет заливки в зависимости от того нажатка кнопка мышки или нет.</p>

<pre>
void setup() {
  size(500,400);
}

void draw() {
  background(0);
  if (mousePressed) {
    fill(0,255,0);
  } else {
    fill(255,0,0);
  }
  ellipse(mouseX,mouseY,60,60);
}
</pre>

<p>Также ты можешь сделать заливку на весь фон когда кнопка мышки нажата:</p>

<pre>
void setup() {
  size(500,400);
  background(0);
}

void draw() {
  if (mousePressed) {
    background(0);
  }
  ellipse(mouseX,mouseY,60,60);
}
</pre>