<h2>Нарисуй картинку с помощью окружностей и прямоугольнков!</h2>

<p>Ты можешь сделать автопортрет, пришельца или что-то более абстрактное. Пока пусть все будет черно-белое, работать с цветом мы научимся чуть позже.</p>

<p>Ты можешь потратить на задание сколько угодно времени, но мы рекомендуем уложиться в 10 минут.</p>

<p><b>Шпаргалка</b><br/>
Чтобы нарисовать прямоугольник: <code>rect(a,b,c,d);</code><br/>
Чтобы нарисовать окружность: <code>ellipse(a,b,c,d);</code><br/>
<br/>
<code>a</code> — X (горизонтальная) координата верхного левого угла фигуры<br/>
<code>b</code> — Y (вертикальная) координата верхного левого угла фигуры<br/>
<code>c</code> — ширина фигуры<br/>
<code>d</code> — высота фигуры

</p>

<p>Более подробное описание функций работы с <a href="http://processing.org/reference/rect_.html" target="_blank">прямоугольниками</a> и <a href="http://processing.org/reference/ellipse_.html" target="_blank">окружностями</a> смотри на processing.org (информация на английском).</p>