<h2>Сделай анимацию с помощью переменных mouseX и mouseY!</h2>

<p>Ты можешь работать с примером ниже или загрузить свой предыдущий проект с помощью пункта "Мой последний проект" ниже.</p>

<p>Ты можешь потратить на задание сколько угодно времени, но мы рекомендуем уложиться в 10 минут.</p>

<p>Если ты забыл правила записи <code>setup()</code> и <code>draw()</code> вот пример!</p>

<pre>
void setup() {
  size(500,400);
}

void draw() {
  background(0,0,0);
  fill(255,255,255);
  ellipse(mouseX,mouseY,60,60);
}
</pre>

<p>Для этого упражениния мы рекоммендуем установить размер холста 500 на 400 пикселей, но ты всегда можешь поэкспериментировать с размерами больше и меньше!</p>

<p>Чтобы узнать больше смотри описание  <a href="http://processing.org/reference/mouseX.html" target="_blank">mouseX</a> и <a href="http://processing.org/reference/mouseY.html" target="_blank">mouseY</a> на сайте processing.org.</p>