
<h2>Спасибо за участие!</h2>

<p>Если ты хочешь знать больше обязательно зайди на <a href="http://processing.org">сайт Processing</a>. Также ты можешь посмотреть другие не менее интересные уроки на <a href="http://code.org/learn">code.org</a>. Если у тебя есть вопросы или отзывы по нашим урокам <a href="http://forum.processing.org/two/categories/hello-processing">ты можешь написать нам здесь</a>!</p>

<div class="text-center">

<div id="videoCommands" class="btn-group">
  <a id="forum" class="btn btn-default btn-primary" href="/about/">
    <span class="glyphicon glyphicon-star"></span> Информация о проекте
  </a>

  <a id="forum" class="btn btn-default btn-primary" href="http://processing.org/">
    <span class="glyphicon glyphicon-download"></span> Скачать Processing
  </a>

  <a id="forum" class="btn btn-default btn-primary" href="http://forum.processing.org/two/categories/hello-processing">
    <span class="glyphicon glyphicon-bullhorn"></span> Обсудить уроки
  </a>
</div>

</div>

<br/><br/>

<p>Этот самоучитель был создан в рамках проекта <a href="http://csedweek.org/">Computer Science Education Week</a>. Если ты хочешь принять в нем участие пожалуйста зарегистрируйся на <a href="http://code.org/api/hour/finish">code.org</a>.</p>

<div class="text-center">

  <a id="forum" class="btn btn-default btn-primary" href="http://code.org/api/hour/finish">
    <span class="glyphicon glyphicon-certificate"></span> Получить свой сертификат!
  </a>
</div>
  
